h1, h2 {
    background-color: rgba(20%, 20%, 20%, 10%);
    text-align: center;
}
ul, p {
    text-align: center;
}
.post {
    background-color: rgba(20%, 20%, 20%, 10%);
}

.underline {
    text-decoration: underline;
}
.none {
    text-decoration: none;
}
.through {
    text-decoration: line-through;
}
.overline {
    text-decoration: overline;
}
.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}
.right {
    text-align: right;
}

.center {
    text-align: center;
}
